@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

.navbar-nav {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
}
nav {
  background-color: #79a842;
}
.nav-item {
  padding-left: 40px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 8px;
}

.nav-item span:hover {
  border-bottom: yellow dotted;
}
.brand-name {
  padding-left: 5px;
  font-size: 1.6em;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
.App .jumbotron {
  background-color: #a2cf6ef3;
  font-family: "Poppins", sans-serif;
  color: black;
}
.row h1 {
  font-weight: bold;

  padding-bottom: 15px;
  color: white;
  line-height: 55px;
  text-align: center;
}
.spinner {
  display: flex;
  justify-content: center;
  font-size: 2em;
  min-height: 300px;
  color: #79a842;
  align-content: center;
  align-items: center;
}
.card:hover {
  background-color: rgba(255, 255, 255, 0.329);
  cursor: pointer;
}
.card-title {
  font-family: "Poppins", sans-serif;
  color: black;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1.2px;
  color: white;
  font-size: 1.8em;
}
.card .card-img-overlay {
  height: 30%;
  background-color: rgba(172, 255, 47, 0.329);
  transition: linear 0.3s;
  bottom: 0px;
  top: auto;
  align-content: center;
  overflow: hidden;
}
.card-img-overlay:hover {
  background-color: rgba(172, 255, 47, 0.473);
  padding-top: 40%;
}
.card :hover {
  color: black;
  height: 100%;
}
.ingr {
  box-shadow: 1px 2px 2px 2px;
  border-radius: 5px;
  margin-bottom: 40px;
  width: ;
}
.Heading {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 20px;
}
.ingredient span {
  padding-left: 12px;
}
.ingredient {
  padding-bottom: 10px;
}
.ingredient svg {
  font-size: 10px;
}
.ingr:hover {
  background-color: rgba(0, 0, 0, 0.041);
}
::selection {
  background-color: rgba(0, 128, 0, 0.507);
  color: white;
}
.main_card {
  margin-bottom: 14px;
}
.MuiButtonBase-root {
  border: 1px solid black;
}
#checker {
  cursor: pointer;
}
.Heading {
  display: flex;
  justify-content: space-between;
  /* border-bottom: 2px dotted rgba(0, 128, 0, 0.596); */
  box-shadow: 0px 1px 0px 0px green;
}
.logo svg {
  font-size: 30px;
}
.logo {
  margin-top: -4px;
  cursor: pointer;
}
.logo:hover {
  color: rgba(0, 128, 0, 0.548);
}
input[type="checkbox"]:checked {
  background-color: green;
}
.search-items {
  display: flex;
  width: 60%;
  position: relative;
  justify-content: center;
  align-items: center;
}
button.search-button {
  height: 44px;
  width: 40px;
  border: 3px solid rgb(41, 163, 41);
  background-color: rgb(41, 163, 41);
  margin-left: -16.5px;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  padding: 0px;
  font-size: 20px;
  color: white;
}
button.search-button:hover {
  background-color: rgb(41, 163, 41);
  border-color: rgb(41, 163, 41);
}
button.search-button:focus {
  background-color: rgb(41, 163, 41);
  border-color: rgb(41, 163, 41);
}
.search-button:focus {
  border-color: rgb(41, 163, 41);
}
.search-items input {
  padding: 5px;
  outline: none;
  border: 3px solid rgb(41, 163, 41);
  border-right: none;
  border-radius: 5px 0px 0px 5px;
  font-weight: bold;
  font-size: 1.2em;
}
.cries {
  display: flex;
  justify-content: center;
}
.search-items input:focus {
  border-color: rgb(41, 163, 41);
}
.footer-section {
  background-color: #678f39;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
  padding-bottom: 10px;
  padding-top: 2px;
  flex-direction: column;
}
.footer-section div:nth-child(1) {
  margin-bottom: 10px;
  border-bottom: 1px dotted white;
  font-weight: bold;
  font-size: 20px;
}
.footer-section div:nth-child(2) {
  margin-bottom: 2px;
  letter-spacing: 2px;
}
.footer-section div:nth-child(3) svg {
  font-size: 15px;
  margin-right: 5px;
}
.footer-section div:nth-child(3) {
  letter-spacing: 2px;
}
.categories h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 2.3em;
  font-weight: bold;
  margin-bottom: 30px;
}
.categories h1 span {
  border-bottom: 2px dotted yellowgreen;
}
.categories-type div {
  text-align: center;
  color: black;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}
.categories-type div #category_type:hover {
  border-bottom: 5px green dotted;
  color: green;
}
.footer-section {
  margin-top: 20px;
}
